PORT=3000

JWT_ISSUER=http://localhost:3000
JWT_AUDIENCE=my-api
JWKS_URL=http://localhost:3000/.well-known/jwks.json
JWT_ALGORITHM=RS512
JWT_PUBLIC_KEY_PATH=config/keys/public.jwks.json
JWT_PRIVATE_KEY_PATH=config/keys/private.jwks.json
RATE_LIMIT_MAX=10000
RATE_LIMIT_TIME_WINDOW=60000
ROUTES_CONFIG=../../config/routes.example.json
ENABLE_WEBSOCKET_PROXY=false